# Copyright (c) 2022 Duccio Breschi
# SPDX-License-Identifier: MIT

if SHIELD_BISCUIT38_LEFT

config ZMK_KEYBOARD_NAME
    default "biscuit38"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BISCUIT38_LEFT || SHIELD_BISCUIT38_RIGHT
config ZMK_SPLIT
    default y
endif
